version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-lifecycle'
    networks:
      - monitoring

  api-users:
    build: ./api-reservations
    ports:
      - "8080:8080"
    networks:
      - monitoring

  api-orders:
    build: ./api_payments
    ports:
      - "8001:8001"
    networks:
      - monitoring

  api-inventory:
    build: ./microservicio_inventario
    ports:
      - "8002:8000"
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge
